@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
  font-family: 'Fira Sans', sans-serif;
}

body {}

.body-wrapper {
  padding: .2rem .4rem;
  max-width: 760px;
  margin: 0 auto;
}

#site-nav {
  padding: .2rem .4rem;
  border-bottom: solid .1rem #911
}

#site-nav a {
  padding: .2rem .4rem;
}

a {
  text-decoration: none;
  color: #911;
}

a:hover {
  box-shadow: 0 .2rem 0 0 #000;
}

.footer {
  color: #ccc;
}

.post-meta-entry {
  display: flex;
  align-items: center;
  margin-bottom: .2rem;
}

.post-meta-entry .feather {
  margin-right: .2rem;
}

a.post-tag {
  color: #ccc;
  margin-right: .2rem;
}

a.post-tag:hover {
  color: #000;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.feather {
  /*width: 1rem;*/
  height: 1rem;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

#content {
  line-height: 1.6rem;
}

pre {
  padding: .8rem;
}

code, code * {
  font-family: 'Fira Code', monospace;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

blockquote {
  margin-left: 16px;
  margin-right: 16px;
  padding: 0 40px;
  border-left: 4px solid #000;
  border-color: #777;
  color: #777;
}

/* list */

.taxonomy-list {
  display:flex;
  flex-flow:row;
}

.taxonomy-list > div {
  display:flex;
  flex-flow:row;
  align-items:center;
  margin: .1rem 0;
}

.taxonomy-list > .date {
  width: 5rem;
  margin-right: 1.2rem;
}

.taxonomy-list > .title {
  flex: 1;
}

.taxonomy-list > .tags {
  flex: 1;
}

/* table */
table {
  border-collapse: collapse;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  margin: 2rem auto;
}

table th, table td {
  padding: .4rem .8rem;
}

table thead tr {
  box-shadow: 0 2px 2px 2px #ddd;
  border-bottom: solid 2px black;
}

table tbody tr:nth-child(odd) {
  background-color: #eee;
}

/* header */
header {
  margin-bottom: 2rem;
}

/* toc */
aside {
  background-color: #eee;
  padding: .8rem;
  border: solid 2px black;
  margin-bottom: 2rem;
}
aside h5 { margin: 0; margin-bottom: .8rem; }
aside ol, ul { margin: 0 }
aside li { list-style-type: katakana; }

/* shortcodes */
.spoiler {
  background-color: black;
  transition: all .2s ease-in;
}

.spoiler:hover {
  cursor: help;
  background-color: inherit;
  transition: all .2s ease-in .6s;
}

.spoiler-block {
  border: 2px solid black;
}

.spoiler-block .header {
  color: #911;
  position: relative;
  font-weight: bold;
  padding: .6rem 1rem;
}

.spoiler-block .header:hover {
  cursor: pointer;
  text-decoration: underline;
}

.spoiler-block .header:hover::after {
  cursor: pointer;
  content: '⇲';
  position: absolute;
  right: 1rem;
}

.spoiler-block.hidden .content {
  display: none;
}

.spoiler-block .content {
  margin-top: .6rem;
}

.embed-pdf {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.embed-pdf-page {
  border: 1px solid #eee;
  box-shadow: 0 0 1px .4px #f7f7f7;
}
