{{ define "main" }}

<header>
  <h1>{{ .Title }}</h1>
</header>

<div class="content">
  {{ range .Pages.ByPublishDate.Reverse }}
  <div class="taxonomy-list">
    <div class="index date">
      {{ .Params.PublishDate.Format "2006-01-02" }}
    </div>

    <div class="title">
      <h3 style="margin:0"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    </div>

    <div class="fluff tags">
      {{ with .Params.tags }}
      <div class="row post-meta-entry">
        <i data-feather="tag"></i>
        {{ range . }}
        {{ $href := print (relURL "tags/") (urlize .) }}
        <a class="post-tag" href="{{ $href }}">#{{ . }}</a>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>

{{ end }}
