{{ define "main" }}

<header>
  <h1>{{ .Title }}</h1>
</header>

<div class="content">
  {{ range .Pages.ByTitle }}
  <div class="taxonomy-list">
    <!--<h3><a href="{{ .RelPermalink }}">#{{ .Title }}</a><span class="info"> - ({{ len .Pages }})</span></h3>-->
    <div class="title">
      <h3 style="margin:0"><a href="{{ .RelPermalink }}">#{{ .Title }}</a></h3>
    </div>

    <div class="fluff count">
      <i data-feather="file-text"></i>
      {{ len .Pages }}
    </div>

  </div>
  {{ end }}
</div>

{{ end }}
